In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.0.3'

In [4]:
products = ['A','B','C','D']
products

['A', 'B', 'C', 'D']

In [5]:
type(products)

list

In [6]:
product_categories = pd.Series(products)

In [7]:
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [8]:
type(product_categories)

pandas.core.series.Series

In [9]:
type(pd.Series(products))

pandas.core.series.Series

In [10]:
daily_rates_dollars = pd.Series([40, 45, 50, 60])
daily_rates_dollars

0    40
1    45
2    50
3    60
dtype: int64

In [11]:
import numpy as np

In [12]:
array_a = np.array([10, 20, 30, 40, 50])
array_a

array([10, 20, 30, 40, 50])

In [13]:
type(array_a)

numpy.ndarray

In [14]:
series_a = pd.Series([10, 20, 30, 40 ,50])
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [15]:
type(series_a)

pandas.core.series.Series

## Working with Attiributes in Python

In [16]:
series_a.dtype

dtype('int64')

In [17]:
series_a.size

5

In [18]:
product_categories = pd.Series(['A', 'B', 'C', 'D', 'E'])
product_categories

0    A
1    B
2    C
3    D
4    E
dtype: object

In [19]:
product_categories.dtype # 'O' = Object - the default data type assigned to non-numeric data

dtype('O')

In [20]:
product_categories.size

5

In [21]:
type(product_categories.size)

int

In [22]:
print(product_categories.name) # "product_categories" - the name we can use to refer to that object in our code

None

In [23]:
product_categories.name = "Product Categories"
# The object name - the one you want to see whenever displayinng its contents
product_categories

0    A
1    B
2    C
3    D
4    E
Name: Product Categories, dtype: object

In [24]:
product_categories.name

'Product Categories'

In [25]:
print(product_categories.name)

Product Categories

## Using an Index in Pandas

In [26]:
prices_per_category = {'Product A': 22250, 'Product B': 16600, 'Product C': 15600}
prices_per_category

{'Product A': 22250, 'Product B': 16600, 'Product C': 15600}

In [27]:
type(prices_per_category)

dict

In [28]:
prices_per_category = pd.Series(prices_per_category)
prices_per_category

Product A    22250
Product B    16600
Product C    15600
dtype: int64

In [29]:
type(prices_per_category)

pandas.core.series.Series

In [30]:
prices_per_category.index

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [31]:
type(prices_per_category.index)

pandas.core.indexes.base.Index

## Label-based vs Position-based Indexing

In [32]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [33]:
series_a.index

RangeIndex(start=0, stop=5, step=1)

In [34]:
type(series_a.index)

pandas.core.indexes.range.RangeIndex

In [35]:
list(series_a.index)

[0, 1, 2, 3, 4]

In [36]:
prices_per_category

Product A    22250
Product B    16600
Product C    15600
dtype: int64

In [37]:
prices_per_category.index # Label-based indexingimpor

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [38]:
type(prices_per_category.index)

pandas.core.indexes.base.Index

## More on Working with Indices

In [39]:
series_a = pd.Series([10, 20, 30, 40, 50])
prices_per_category = pd.Series({'Product A': 22250, 'Product B': 16600, 'Product C': 12500})

In [40]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [41]:
series_a[0]

10

In [42]:
prices_per_category

Product A    22250
Product B    16600
Product C    12500
dtype: int64

In [43]:
prices_per_category['Product A']

22250

In [44]:
prices_per_category[0]

22250

In [45]:
series_b = pd.Series([10, 20, 30, 40, 50], index = [1, 2, 3, 5, 5]) # Explicit indexing
series_b

1    10
2    20
3    30
5    40
5    50
dtype: int64

In [46]:
series_b[0] # there is no '0' in Expicit indexing so it will show an error

KeyError: 0

In [47]:
series_b[1]

10

In [48]:
series_c = pd.Series([10, 20, 30, 40, 50], index = ['1', '2', '3', '4', '5'])
series_c

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [49]:
series_c[1] # because '1' not used, it works as implicit indexing

20

In [50]:
series_c['1']

10

In [51]:
prices_per_category # Label-based indexing

Product A    22250
Product B    16600
Product C    12500
dtype: int64

## Using Methods - Part 1

In [53]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [56]:
start_date_deposits.sum() # Vertical summation

29500

In [57]:
start_date_deposits.min()

1000

In [58]:
start_date_deposits.max()

4000

In [59]:
start_date_deposits.idxmax() # id of max value

'9/3/2015'

In [61]:
start_date_deposits.idxmin() #id of min value

'12/8/2012'

## Using Methods - Part 2

In [62]:
start_date_deposits.head() # First 5 row to catch a glimpse about structure of a dataset

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [63]:
start_date_deposits.tail() # Last 5 row to catch a glimpse about structure of a dataset

7/25/2016    2000
5/1/2014     2000
3/29/2013    2000
10/3/2014    2000
9/18/2015    2500
dtype: int64

## Parameters and Arguments

In [64]:
start_date_deposits

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [66]:
start_date_deposits.head(3)

7/4/2014     2000
1/2/2015     2000
12/8/2012    1000
dtype: int64

In [67]:
start_date_deposits.head(n = 4)

7/4/2014     2000
1/2/2015     2000
12/8/2012    1000
2/20/2015    2000
dtype: int64

## Pandas Dataframes

**#1: Construct a DataFrame from a dictionary of lists**

In [73]:
data = {'ProductName': ['Product A', 'Product B', 'Product C'], 'ProductPrice': [22250, 16600, 12500]}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

**#2: Construct a DataFrame from a dictionary of lists + specify an index**

In [74]:
data = {'ProductName': ['Product A', 'Product B', 'Product C'], 'ProductPrice': [22250, 16600, 12500]}
df = pd.DataFrame(data, index = ['A', 'B', 'C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [75]:
data = {'ProductName': ['Product A', 'Product B', 'Product C'], 'ProductPrice': [22250, 16600, 12500]}
product_IDs = ['A', 'B', 'C']
df = pd.DataFrame(data, index = product_IDs)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

**#3: Construct a DataFrame from a list of dictionaries**

In [78]:
# This way of creating a DataFrame can help a great deal to preserve data consistency
data = [{'ProductName': 'Product A', 'ProductPrice':22250},
        {'ProductName': 'Product B', 'ProductPrice':16660},
        {'ProductName': 'Product C', 'ProductPrice':12500}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16660
2   Product C         12500

In [80]:
data = [{'ProductName': 'Product A', 'ProductPrice':22250},
        {'ProductName': 'Product B', 'ProductPrice':16660},
        {'ProductName': 'Product C', 'ProductPrice':[12500, 10000]}]
df = pd.DataFrame(data)
df

  ProductName    ProductPrice
0   Product A           22250
1   Product B           16660
2   Product C  [12500, 10000]

In [82]:
data = [{'ProductName': 'Product A', 'ProductPrice':22250},
        {'ProductName': 'Product B', 'ProductPrice':16660},
        {'ProductName': 'Product C', 'ProductPrice':12500}, 
        {'ProductName': 'Product D'}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A       22250.0
1   Product B       16660.0
2   Product C       12500.0
3   Product D           NaN

**4# Construct a DataFrame from a dictionary of pandas Series**

In [83]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'])
ser_prices = pd.Series([22250, 16600, 12500])

In [85]:
data = {'ProductName': ser_products, 'ProductPrice': ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [87]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['A', 'B', 'C'])

data = {'ProductName': ser_products, 'ProductPrice': ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [88]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['C', 'B', 'A'])

data = {'ProductName': ser_products, 'ProductPrice': ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         12500
B   Product B         16600
C   Product C         22250

**#5: Construct a DataFrame from a list of lists**

In [91]:
data = [['Productt A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

            0      1
0  Productt A  22250
1   Product B  16600
2   Product C  12500

In [92]:
data = [['Productt A', 22250], ['Product B', 16600], ['Product C', 12500, 5000]]
df = pd.DataFrame(data)
df

            0      1       2
0  Productt A  22250     NaN
1   Product B  16600     NaN
2   Product C  12500  5000.0

In [93]:
data = [['Productt A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

            0      1
0  Productt A  22250
1   Product B  16600
2   Product C  12500

In [94]:
df.columns = ['ProductName', 'ProductPrice']
df

  ProductName  ProductPrice
0  Productt A         22250
1   Product B         16600
2   Product C         12500

In [96]:
df.index = ['A', 'B', 'C']
df

  ProductName  ProductPrice
A  Productt A         22250
B   Product B         16600
C   Product C         12500

**#6: Construct a DataFrame in a Professional Way**

In [97]:
df = pd.DataFrame(data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]], 
                  columns = ['ProductName', 'ProductPrice'], 
                  index = ['A', 'B', 'C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [98]:
df.shape

(3, 2)